body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

.card {
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
}